@import url(./index.css);
@import url(https://fonts.googleapis.com/css?family=Acme:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.bg-center {
  background-position: center !important;
}

* {
  font-family: "Acme", sans-serif;
}
*:focus {
  outline: none !important;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.material-header-btn.MuiButtonBase-root {
  margin-left: -20%;
}
.bg-cover {
  background-size: cover !important;
}
@keyframes moveDownAnimation {
  100% {
    background-position-y: 100%;
  }
}

.lines-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/lines.jpg);
  background-size: 7px auto;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.4;
  animation: moveDownAnimation 15s linear infinite;
}
.vignette {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/vignette.png);
  z-index: 1;
  background-size: 100% 100%;
  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 0.6;
}

/* Play Btn */
.control-btn {
  width: 10px;
  height: 35px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 17px 0 17px 30px;
  transform: scale(0.4);
}
.control-btn.paused {
  border-style: double;
  border-width: 0px 0px 0px 30px;
}
.MuiButton-label {
  color: #fff !important;
}
.MuiSlider-root {
  color: #4cd2d6 !important;
}

/* Spectrum Animation */
.line {
  width: 0.2em;
  margin-left: 3px;
}
.spectrum .line1 {
  animation: animateLine1 1.3s infinite;
}
.spectrum .line2 {
  animation: animateLine2 1.3s infinite;
}
.spectrum .line3 {
  animation: animateLine3 1.3s infinite;
}
.spectrum .line4 {
  animation: animateLine4 1.3s infinite;
}

@keyframes animateLine1 {
  0% {
    height: 0.9em;
  }
  25% {
    height: 1.2em;
  }
  50% {
    height: 0.4em;
  }
  75% {
    height: 1.3em;
  }
  100% {
    height: 1.3em;
  }
}
@keyframes animateLine2 {
  0% {
    height: 1em;
  }
  25% {
    height: 0.4em;
  }
  50% {
    height: 0.8em;
  }
  75% {
    height: 1em;
  }
  100% {
    height: 0.6em;
  }
}
@keyframes animateLine3 {
  0% {
    height: 0.2em;
  }
  25% {
    height: 1.3em;
  }
  50% {
    height: 0.7em;
  }
  75% {
    height: 1em;
  }
  100% {
    height: 0.9em;
  }
}
@keyframes animateLine4 {
  0% {
    height: 0.1em;
  }
  25% {
    height: 1.2em;
  }
  50% {
    height: 0.4em;
  }
  75% {
    height: 0.3em;
  }
  100% {
    height: 1em;
  }
}

/* Track Btn */
.track {
  display: block !important;
  text-transform: none !important;
  height: 100% !important;
  text-align: left !important;
}

.MuiFormControl-root * {
  font-family: "Acme", sans-serif !important;
}
.twitterBtn {
  padding: 4px 8px !important;
}

.custom-cursor {
  cursor: url("../assets/cursor.png"), auto;
}
.cursor-pointer {
  cursor: pointer !important;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 17.5px;
  position: relative !important;
  background: #111;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

@media (min-width: 600) {
  .hiddenOnMobileBtns {
    display: none !important;
  }
}
